<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101864765927-58fvlok88ltiffajb4uo0g2ubadikhlm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101864765927-58fvlok88ltiffajb4uo0g2ubadikhlm</string>
	<key>API_KEY</key>
	<string>AIzaSyCc_2AqvU06YUXpMuVKC5hHL3TTNanR5QQ</string>
	<key>GCM_SENDER_ID</key>
	<string>101864765927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.vnshop.ios.shopping.staging</string>
	<key>PROJECT_ID</key>
	<string>vnshop-consumer-test</string>
	<key>STORAGE_BUCKET</key>
	<string>vnshop-consumer-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101864765927:ios:c03a8a3e214d1549bb6542</string>
	<key>DATABASE_URL</key>
	<string>https://vnshop-consumer-test.firebaseio.com</string>
</dict>
</plist>