//
//  Release.xcconfig
//  VNShop
//
//  Created by linhvt on 9/10/19.
//  Copyright © 2019 Dung Nguyen. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// APP
APP_NAME = VnShop
APP_BUNDLE_ID = vn.vnshop.ios.shopping
APP_SCHEME = vnshop.ios

// API
API_SEARCH_URL = https:/$()/search.tekoapis.com/api
API_PAGE_BUILDER_URL = https:/$()/pagebuilder-dev.phongvu.vn/api/v1
API_NOTIFICATION_URL = https:/$()/stn.tekoapis.com/api
API_USER_URL = https:/$()/users.tekoapis.com
API_OAUTH_URL = https:/$()/oauth.tekoapis.com
API_ADDRESS_URL = https:/$()/location.tekoapis.com/api/v1/location
API_IAM_URL = https:/$()/id.teko.vn
API_CATALOG_URL = https:/$()/catalog.tekoapis.com
API_ORDER_URL = https:/$()/orders.tekoapis.com
API_PAYMENT_URL = https:/$()/payment.tekoapis.com/api
API_PPM_URL = https:/$()/ppm.tekoapis.com/api
API_CRM_URL = https:/$()/test-crm.teko.vn/api
API_LISTING_URL = https:/$()/listing.tekoapis.com/api
API_IDENTITY_URL = https:/$()/identity.tekoapis.com
API_IMAGE_URL = https:/$()/img.vnshop.vn
API_DISCOVERY_URL = https:/$()/discovery.tekoapis.com/api/v1
API_POLICY_URL = https:/$()/policies.tekoapis.com/api/v1
API_CC_URL = https:/$()/cc-vnshop.tekoapis.com/api/v1
API_CARTS_URL = https:/$()/carts.tekoapis.com/api/v1
API_PAYMENT_AIO_URL = https:/$()/payment-setting.tekoapis.com/api

// OAUTH
OAUTH_CLIENT_ID = ddd94468ab2647889ae93825abdcb775
CLIENT_CODE = vnshop

// GOOGLE SERVICES
GMS_API_KEY = AIzaSyBwuZstyQQezrsd-K4kZFW_o81h2mYizAs
GOOGLE_SIGNIN_CLIENT_ID = 563692749265-f5lo02ep87rgvj7j78dm3mqi45g1i2qe.apps.googleusercontent.com
GOOGLE_SIGNIN_REVERSED_CLIENT_ID = com.googleusercontent.apps.563692749265-f5lo02ep87rgvj7j78dm3mqi45g1i2qe

// FACEBOOK
FACEBOOK_APP_ID = 2918685948142598
FACEBOOK_DISPLAY_NAME = VNShop
FACEBOOK_SCHEME = fb2918685948142598

// PAYMENT
API_PAYMENT_SECRET_KEY = e825d74cbc6ad6330a25f5a731486c8a

// BANNER
BANNER_HOME_XTOKEN_KEY = QUEYCPKVSKIDYGUCWPVBSCEWSCEZ6A

