<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appID</key>
	<string>id1480360549</string>
	<key>appIcon</key>
	<string></string>
	<key>appStatus</key>
	<string>inReview</string>
	<key>env</key>
	<integer>0</integer>
	<key>isShowFB</key>
	<false/>
	<key>isShowVNPay</key>
	<false/>
	<key>inReview</key>
	<dict>
		<key>API_PAGE_BUILDER_URL</key>
		<string>https://pagebuilder-dev.phongvu.vn/api/v1</string>
		<key>SEARCH_URL</key>
		<string>https://search.stage.tekoapis.net/api</string>
		<key>API_NOTIFICATION_URL</key>
		<string>https://stn.develop.tekoapis.net/api</string>
		<key>API_USER_URL</key>
		<string>https://users.develop.tekoapis.net</string>
		<key>VS_IMAGE_URL</key>
		<string>http://catalog-stg.phongvu.vn:8882</string>
		<key>API_ADDRESS_URL</key>
		<string>https://location.stage.tekoapis.net/api/v1/location</string>
		<key>API_IAM_URL</key>
		<string>https://id.teko.vn</string>
		<key>API_CATALOG_URL</key>
		<string>https://catalog.stage.tekoapis.net</string>
		<key>API_ORDER_URL</key>
		<string>https://orders.stage.tekoapis.net</string>
		<key>API_PAYMENT_URL</key>
		<string>https://payment.stage.tekoapis.net/api</string>
		<key>API_PPM_URL</key>
		<string>https://ppm.stage.tekoapis.net/api</string>
		<key>API_CRM_URL</key>
		<string>https://test-crm.teko.vn/api</string>
		<key>API_BASE_URL</key>
		<string>https://listing.stage.tekoapis.net/api</string>
		<key>API_VNSHOP_URL</key>
		<string>https://stage.vnshop.vn</string>
		<key>APP_NAME</key>
		<string>VNShop</string>
		<key>APP_BUNDLE_ID</key>
		<string>vn.teko.ios.vnshop</string>
		<key>APP_SCHEME</key>
		<string>vnshop.ios.staging</string>
		<key>OAUTH_CLIENT_ID</key>
		<string>fa6d40355637485f9b21ffa9ea7d3d51</string>
		<key>CLIENT_CODE</key>
		<string>vnshop</string>
		<key>GMS_API_KEY</key>
		<string>AIzaSyBwuZstyQQezrsd-K4kZFW_o81h2mYizAs</string>
		<key>TRACKER_CLIENT_ID</key>
		<string>0dccc540-3103-11ea-978f-2e728ce88125</string>
		<key>PAYMENT_CLIEN_CODE</key>
		<string>VNSHOP_APP</string>
		<key>PAYMENT_TERMINAL_CODE</key>
		<string>vnshop_app</string>
		<key>API_PAYMENT_SECRET_KEY</key>
		<string>e825d74cbc6ad6330a25f5a731486c8a</string>
	</dict>
</dict>
</plist>
