<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_ID</key>
	<string>0dccc540-3103-11ea-978f-2e728ce88125</string>
	<key>SCHEMA_VERSION</key>
	<string>2.0.0</string>
	<key>ENVIRONMENT</key>
	<string>development</string>
	<key>LOG_SERVER_URL</key>
	<string>https://tracking.develop.tekoapis.net</string>
	<key>MANUALLY_LOG_VIEW_CONTROLLER</key>
	<false/>
	<key>RETRY_WHEN_FAILED</key>
	<integer>3</integer>
	<key>MANUALLY_LOG_TRACKING_NAMES</key>
	<array>
		<string>listWaitForPayment</string>
		<string>listWaitForDelivery</string>
		<string>listCompleted</string>
	</array>
	<key>SCHEDULE_RETRY_FAILURE</key>
	<true/>
	<key>BLACKLIST_HTTP_CODE</key>
	<array>
		<integer>401</integer>
	</array>
	<key>LOG_DEBUG</key>
	<false/>
</dict>
</plist>
